= '\n'

// for Google
meta(name='keywords', content='baseheight,height,heights,equal,match,equalize,same,responsive,column,columns,jquery-plugin,ecosystem:jquery,jQuery,plugin')/
meta(name='description', content='Equal heights for set of responsive columns')/
